

services:

  # =============================
  # FRONTEND (NGINX)
  # =============================
  workflow-timemanager:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    container_name: WorkFlow-TimeManager-frontend
    volumes:
      - ../app/public:/usr/share/nginx/html
      - ../app/src:/usr/share/nginx/src
    ports:
      - "3000:80"
    restart: unless-stopped

  # =============================
  # LARAVEL API (PHP-FPM)
  # =============================
  api:
    build:
      context: ../api
      dockerfile: ../docker/Dockerfile-api
    container_name: timetracker-api
    restart: unless-stopped
    volumes:
      - ../api:/var/www/html
    env_file:
      - ../api/.env
    depends_on:
      - timetracker-db
      - redis

  # =============================
  # NGINX DA API
  # =============================
  api-nginx:
    image: nginx:latest
    container_name: timetracker-api-nginx
    ports:
      - "9000:80"
    volumes:
      - ../api:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

  # =============================
  # POSTGRES
  # =============================
  timetracker-db:
    image: postgres:16
    container_name: timetracker-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5433:5432"
    volumes:
      - timetracker_data:/var/lib/postgresql/data

  # =============================
  # REDIS
  # =============================
  redis:
    image: redis:alpine
    container_name: timetracker-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  timetracker_data:
  redis_data:
